# Servidor
PORT=5002
NODE_ENV=development

# MySQL Railway
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# MongoDB
MONGODB_URI=
MONGODB_NAME=luxsense