div, header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header{
    width: 100%;
    justify-content: space-between;
    padding: 10px 30px;
    color: white;
    margin-bottom: 30px;
}

.lupa{
    color: white;
}
.buscador .busqueda{
    width: 350px;
    height: 30px;

    padding-left: 10px;
    box-sizing: border-box;

    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 5px;
}
.busqueda input{
    width: 100%;
    height: 100%;

    border: 0px;

    background-color: rgba(255, 255, 255, 0);
    color: white;
}
.buscador button{
    width: 30px;
    height: 30px;

    border-radius: 5px;
    border: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #00ff51;
}

.links a{
    color: white;
    text-decoration: none;
    font-size: 12px;

    background-color: rgba(255, 255, 255, 0.2);

    padding: 0 20px;
    height: 30px;
    border-radius: 5px;

    display: flex;
    align-items: center;
}
.links .active{
    background-color: rgba(255, 255, 255, 0.5);
}

.switch{
    padding: 0 10px;
    display: flex;
    gap: 0px;
}
.moon{
    background-color: blue;

    height: 30px;
    width: 30px;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.sun{
    background-color: rgba(255, 255, 255, 0.2);

    height: 30px;
    width: 30px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 50%;
}
